// MAIN.SCSS

// ==========================================
//  Variables
// ==========================================

// Site Brand Font
$main-font: 'Quicksand', sans-serif;

// Main text font
$sec-font: 'Raleway', sans-serif !important;

// Font Colors
$mainColor: #ffffcc;
$secColor: #242424;

// Site Theme Colors
$themeColor1: rgba(223,133,182, 0.6);
$themeColor2: rgba(108,206,217, 0.6);

// ==========================================
//  Functions
// ==========================================

// Calculate Rems from pxs
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// ==========================================
//  Mixins
// ==========================================


// Clearfix Mxxin
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//Font Size  px to rem
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Gradients
@mixin gradient($start-color, $end-color, $orientation, $background-repeat) {
  background: $start-color;

  // Set gradient orientation
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }

  background-repeat: $background-repeat
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ed: $opacity * 100;
  // filter: alpha(opacity = $opacity-ie);
}

// Box Size
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

// Font
@mixin textStyle($pixels, $font, $color){
  @include font-size($pixels);
  font-family: $font;
  color: $color !important;
}

// Sets background to fit full screen
@mixin fullBackground {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

// Sets background to size of screen
.background-fixed {
   background-attachment: fixed;
}
// ==========================================
//  All out Sass
// ==========================================

// Sets styles for entire body
html, body {
  height: 100%;
  font-family: $sec-font;
}

// Sets background gradient
body {
  @include fullBackground;
  // @include gradient(#cef2ef, #6cced9, vertical, no-repeat);
  @include gradient($themeColor1, $themeColor2, vertical, no-repeat);
}

// Controls styling for "Hi, I'm Ally!"
.display-2 {
  @include textStyle(70px, $sec-font, black);
}

// Changes Ally response size on Emoji page
.emote-page-res {
  @include textStyle(40px, $sec-font, black);
}

// Escape button styling
.escape {
  @include opacity(0.6);
  @include textStyle(22px, $sec-font, #7F2626);
  @include size(110px, 50px);
  font-weight: 600;
  border: 3px solid #ac2925;
  border-radius: 0px !important; 
  float: right !important;
  margin-right: 100px;
  &:hover{
    @include opacity(1);
  }
}

// Styles face icon in Ally.io brand
.face {
  @include font-size(32px); 
}

// Navbar and escape btns
.navbar, .escape {
  background-color: transparent !important; 
}

// Sets standard size for Rainn logo
.rainn-logo {
  @include size(160px, 80px);
  margin: 0 auto;
}

// User response button styling
.res-btn {
  @include textStyle(15px, $sec-font, black);
  font-weight: 600;
  background-color: transparent;
  border: 3px solid #00cdcd;
  border-radius: 0px !important; 
  .btn-text {
    margin-left: 5px;
    padding-bottom: 10px; 
  } 
  &:hover{
    color: white !important;
    background-color: teal !important;
  }
}

// Styles resource cards
.resource-card {
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.4);
}

// Hamburger menu and escape button margin
.toggler, .escape {
  margin-top: 20px !important;
}

// Hamburger menu styling
.toggler {
  outline: none !important;
  border: none;
}

// Brand name
.navbar-brand {
  @include textStyle(50px, $main-font, $mainColor);
  margin-left: 60px !important;
}

// Text center text styling
.text-center {
  @include textStyle(15px, $sec-font, $secColor);
  margin-top: 40px;
}

// Button styles for material design
.mat-btn {
  border: 2px solid #00cdcd !important;
  border-radius: 0px !important;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  color: #00cdcd;
  letter-spacing: 1px;
  min-width: 130px;
  max-width: 200px;
  &:hover {
    background: #00cdcd;
    color: #fff;
  }
}

// Class to establish full-width
.full-width{
  width: 100% !important;
}

// Adds padding to top of rows
.row-space {
  padding-top: 20px;
}

// Styles card descriptions
.card-description {
  height: 150px !important;
  overflow-y: scroll !important;
}

// Styles cards
.card-type {
  font-size: 18px !important;
  color: #00cdcd !important;
}

// Increases margin above buttons with class applied
.button-top-space {
  margin-top: 20px;
}

// Team member name styling
.team h3 {
  margin-top: 10px;
}

// Response styling
.violated-response {
  margin-top: 55px;
}

// Styles the response's text
.violated-response-text {
  line-height: 2;
}

//==================================
// Emoji
//==================================

// Sets emojis to set size
.emoji {
  @include font-size(70px);
}

// ==========================================
//  Media Queries
// ==========================================

// Extra small screens
@media screen and (max-width: 320px) {
  .display-2 {
    @include font-size(25px);
  }

  .display-5 {
    @include font-size(22px);
  }

  .emoji {
    margin: 5px 0 0 0;
  }
}

// Small screens
@media screen and (max-width: 484px) {
  .ally-init-res {
    @include font-size(40px);
  }

  .escape {
    position: fixed;
    bottom:10px;
    left: 33%;
  }

  .emoji {
    @include font-size(25px);
  }

  .last-bio {
    margin-bottom: 50px;
  }
}

// Adjusts margin for brand
@media screen and (max-width: 576px) {
  .navbar-brand {
    margin-left: 25px !important;
  }
}

// Large Screens
@media screen and (max-width: 991px) {
  .btn {
    margin-top: 10px;
  }
}

// XL Screens
@media screen and (min-width: 1199px) {
  .button-top-space {
    margin-top: 0px !important;
  }

  .btm-btn {
    margin-top: 10px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .last-bio {
    margin: 0 auto;
  }
}