// MAIN.SCSS

// ==========================================
//  Variables
// ==========================================

// Site Brand Font
$main-font: 'Quicksand', sans-serif;

// Main text font
$sec-font: 'Raleway', sans-serif;

// Font Colors
$mainColor: #ffffcc;
$secColor: #242424;

// Theme Colors
// $themeColor1: #df85b6;
// $themeColor2: #6cced9;
$themeColor1: rgba(223,133,182, 0.6);
$themeColor2: rgba(108,206,217, 0.6);

// ==========================================
//  Functions
// ==========================================

// Calculate Rems from pxs
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// ==========================================
//  Mixins
// ==========================================


// Clearfix Mxxin
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//Font Size  px to rem
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Gradients
@mixin gradient($start-color, $end-color, $orientation, $background-repeat) {
  background: $start-color;

  // Set gradient orientation
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }

  background-repeat: $background-repeat
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ed: $opacity * 100;
  // filter: alpha(opacity = $opacity-ie);
}

// Box Size
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

// Font
@mixin textStyle($pixels, $font, $color){
  @include font-size($pixels);
  font-family: $font;
  color: $color !important;
}

@mixin fullBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// ==========================================
//  All out Sass
// ==========================================

html, body {
  height: 100%;
}

body {
  @include fullBackground;
  // @include gradient(#cef2ef, #6cced9, vertical, no-repeat);
  @include gradient($themeColor1, $themeColor2, vertical, no-repeat);
}

.escape {
  @include opacity(0.6);
  @include textStyle(22px, $sec-font, #7F2626);
  @include size(110px, 50px);
  font-weight: 600;
  border: 3px solid #ac2925;
  border-radius: 0px !important; 
  float: right !important;
  margin-right: 100px;
  &:hover{
    @include opacity(1);
  }
}

.face {
  @include font-size(32px); 
}

.navbar, .escape {
  background-color: transparent !important; 
}

.rainn-logo {
  @include size(160px, 80px);
  margin: 0 auto;
  // padding: 10px;
}

.res-btn {
  @include textStyle(15px, $sec-font, black);
  font-weight: 600;
  background-color: transparent;
  border: 3px solid #00cdcd;
  border-radius: 0px !important; 
  .btn-text {
    margin-left: 5px;
    padding-bottom: 10px; 
  } 
  &:hover{
    color: white !important;
    background-color: teal !important;
  }
  // margin-right: 100px;
}

.resource-card {
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.4);
}

.toggler, .escape {
  margin-top: 20px !important;
}

.toggler {
  outline: none !important;
  border: none;
}


// .navbar {
//   color: $mainColor !important;
// }

// Li elements
 // Sets hamburger menu's list item's font/color
// .navbar li {
//   @include textStyle(18px, $sec-font, $secColor);
// } 

// Brand name
.navbar-brand {
  @include textStyle(50px, $main-font, $mainColor);
  margin-left: 60px !important;
}

// // Section sets hamburger menu to constant
// .navbar-header {
//   float: none;
// }
// .navbar-left,.navbar-right {
//   float: none !important;
// }
// .navbar-toggle {
//   display: block;
// }
// .navbar-collapse {
//   border-top: 1px solid transparent;
//   box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
// }
// .navbar-fixed-top {
//   top: 0;
//   border-width: 0 0 1px;
// }
// .navbar-collapse.collapse {
//   display: none!important;
// }
// .navbar-nav {
//   float: none!important;
//   margin-top: 7.5px;
// }
// .navbar-nav>li {
//   float: none;
// }
// .navbar-nav>li>a {
//   padding-top: 10px;
//   padding-bottom: 10px;
// }
// .collapse.in{
//   display:block !important;
// }

// .no-outline {
// 	outline: none;
// 	border: none;
// }

// //============================================

.text-center {
  @include textStyle(15px, $sec-font, $secColor);
  margin-top: 40px;
}

.tooltip {
  @include textStyle(20px, $sec-font, black);
  margin-top: 8px !important;
}

// .top-nav {
// 	padding: 30px 50px;
// }

// .top-nav-space {
// 	height: 100px;
// }

// ==========================================
//  Media Queries
// ==========================================

@media screen and (max-width: 448px) {
  .escape {
    position: fixed;
    bottom:10px;
    left: 33%;
  }
}
