<div class="card card-nav-tabs">
    <div class="header header-success">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
              <a href="#profile" data-toggle="tab"><i class="material-icons">face</i>Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="tab-content text-center">
        <div class="tab-pane active" id="profile">
          <p>Hello words</p>
        </div>
      </div>
    </div>
  </div>