<div class="container d-flex align-items-center h-75">
  <div class="row justify-content-center" style="width: 100%">
    <div class="col-md-8 text-center">
      <h3 class="display-2 emote-page-res">I'm sorry to hear that, just know that you're not alone. I'm here for you.</h3>
      <h4 class="display-5">Which of the following words describes how your current state of mind?</h4>
      <div class="row justify-content-center" style="padding-top: 20px">
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Alone</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Violated</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Misguided</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Vulnerable</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">None of the Above</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
