<div class="container d-flex align-items-center h-75">
  <div class="row justify-content-center" style="width: 100%">
    <div class="col-6 text-center">
      <h2 class="display-2">I'm glad to hear that.</h2>
      <h4 class="display-5">How are you feeling emotionally at the moment?</h4>
      <div class="row justify-content-center" style="padding-top: 20px">
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Happy 1</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Happy 2</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Eh</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn" style="width: 125px;">Sad 1</button></a>
        </div>
        <div class="col">
          <a ui-sref="emotion"><button class="btn btn-primary mat-btn" style="width: 125px;">Depressed 1</button></a>
        </div>
      </div>
    </div>
  </div>
</div>