<div class="container d-flex align-items-center h-75">
  <div class="row justify-content-center" style="width: 100%">
    <div class="col-6 text-center">
      <h2 class="display-2 ally-init-res">I'm glad to hear that.</h2>
      <h4 class="display-5">How are you feeling emotionally at the moment?</h4>
      <div class="row justify-content-center" style="padding-top: 20px">
        <div class="col">
          <a ui-sref="#"><p class="emoji smiley">&#128516;</p></a>
        </div>
        <div class="col">
          <a ui-sref="#"><p class="emoji happyTwo">&#128512;</p></a>
        </div>
        <div class="col">
          <a ui-sref="#"><p class="emoji eh">&#128533;</p></a>
        </div>
        <div class="col">
          <a ui-sref="#"><p class="emoji sad">&#128543;</p></a>
        </div>
        <div class="col">
          <a ui-sref="emotion"><p class="emoji depressed">&#128542;</p></a>
        </div>
      </div>
    </div>
  </div>
</div>