<div class="container d-flex align-items-center h-75">
	<div class="row justify-content-center" style="width: 100%">
		<div class="col-6 text-center">
			<h1>Lets Begin</h1>
			<h4>Whats going on?</h4>
			<div class="row justify-content-center" style="padding-top: 20px">
				<div class="col-4">
					<a ui-sref="resource"><button class="btn btn-primary" style="width: 125px;">Resources</button></a>
				</div>
				<div class="col-4">
					<a ui-sref="resource"><button class="btn btn-primary" style="width: 125px;">Option 2</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
