<div class="container d-flex align-items-center h-75">
	<div class="row justify-content-center full-width">
		<div class="col-6 text-center">
			<h1 class="display-2">Lets Begin</h1>
			<h4 class="display-5">Whats going on?</h4>
			<div class="row justify-content-center row-space">
				<div class="col">
					<a ui-sref="resource"><button class="btn btn-primary mat-btn">Resources</button></a>
				</div>
				<!-- <div class="col">
					<a ui-sref="resource"><button class="btn btn-primary mat-btn"></button></a>
				</div> -->
			</div>
		</div>
	</div>
</div>
