<div class="container d-flex align-items-center h-75">
  <div class="row justify-content-center full-width">
    <div class="col-md-8 text-center">
      <h3 class="display-2 emote-page-res">I'm excited to hear that you're feeling happy! So what can I help you out with today?</h3>
      <hr>
      <h4 class="display-5 small-screen">Which of the following catagories describes what resource you would like to view?</h4>
      <div class="row justify-content-center row-space">
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn">General</button></a>
        </div>
        <div class="col">
          <a ui-sref="violated"><button class="btn btn-primary mat-btn">Telephone Hotlines</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn">Online Chatrooms</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn button-top-space btm-btn">Survivor Stories</button></a>
        </div>
        <div class="col">
          <a ui-sref="#"><button class="btn btn-primary mat-btn button-top-space btm-btn">None of the Above</button></a>
        </div>
      </div>
    </div>
  </div>
</div>