<div class="container d-flex align-items-center h-75">
	<div class="row justify-content-center full-width">
		<div class="col-md-6 text-center">
			<h2 class="display-2 ally-init-res">Hi, I'm Ally!</h2>
			<hr>
			<h3 class="display-5">Are you here for you or someone else?</h3>

			<div class="row justify-content-center row-space">
				<div class="col">
					<a ui-sref="friend-1"><button class="btn btn-primary mat-btn">Friend</button></a>
				</div>
				<div class="col">
					<a ui-sref="me-1"><button class="btn btn-primary mat-btn">Me</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
