<!-- Page Content -->
<div class="container row-space">
    <!-- Team Members Row -->
    <div class="row">
        <div class="team col-lg-12 col-md-12 col-sm-12">
            <h1>Our Team</h1>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-4 col-sm-6 text-center">
                <a href="https://github.com/JacyAnderson"><img class="bio-pic rounded-circle img-responsive img-center" src="https://cdn.shopify.com/s/files/1/1025/0131/files/Emoji_Kittens_by_Tania_Hennessy_doughnut_emoji_WM.jpg?v=1486632048" style="width:200px; height: 200px;" alt="Jacy kitten pic"></a>
                <h3>Jacy Anderson<br>
                    <small>Project Manager</small>
                </h3>
                <p>Jacy is a Kitten enthusiast who also happens to develop web applications and write stories that gather more dust than words.</p>
            </div>
            <div class="team col-lg-4 col-sm-6 text-center">
               <a href="https://github.com/tlaine1441"><img class="bio-pic rounded-circle img-responsive img-center" src="http://www.warrenphotographic.co.uk/photography/bigs/08482-Fluffy-ginger-female-kitten.jpg"  style="width:200px; height: 200px;" alt="Taylor kitten pic"></a>
                <h3>Taylor Laine<br>
                    <small>Front End Engineer</small>
                </h3>
                <p>Taylor is a passionate and driven developer who loves using technical skills to produce creative and innovative ideas to solve user needs.</p>
            </div>
            <div class="team col-lg-4 col-sm-6 text-center last-bio">
                <a href="https://github.com/Bp3289"><img class="bio-pic rounded-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg" style="width:200px; height: 200px;" alt="Will kitten pic"></a>
                <h3>William McCormack<br>
                    <small>Back End Engineer</small>
                </h3>
                <p>William describes himself as "a straight up g" despite having a kitten as his bio picture. In his spare time away from being a "straight up g", he develops web applications and enjoys ice cold brews.</p>
            </div>
        </div>
        </div>
    </div>
</div>
    <!-- /.container -->