<!-- <div class="container d-flex align-items-center h-75">
  <div class="row justify-content-center full-width">
    <div class="col-6 text-center">
      <h2 class="display-2 ally-init-res"></h2>
      <h4 class="display-5">I'm sorry, no one should have to feel that way. Based on your response here are some resources I found that may be helpful:</h4>

        </div>
      </div>
 -->
 <div class="container violated-response">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h4 class="display-5 violated-response-text">I'm sorry, no one should have to feel that way. Based on your response here are some resources I found that may be helpful:</h4>
      <hr/>
    </div>
  </div>
 </div>
 <div class="container">
        <div class="row justify-content-center">
          <div class="card resource-card col-md-3" ng-repeat="res in resource.all">
            <img class="card-img-top rainn-logo" src={{res.logo}} alt="Card image cap" href="https://www.rainn.org/">
            <div class="card-block">
              <div class="row"> 
                <h5>{{res.title}}</h5>
                <h6 class="card-type">{{res.type}}</h6>
                <hr/>
                <div class="card-description">
                  <p class="card-text">{{res.description}}</p> 
                </div>
                <div class="row btn-row justify-content-center">
                  <div class="col-md-12">
                    <a href={{resource.res.url}} class="btn btn-primary res-btn"><i class="material-icons">phone</i> <span class="btn-text">800.656.HOPE(4673)</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>